<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap type="User" id="UserMap">

        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />

    </resultMap>

    <!-- 查询-->
    <select id="findUser"  resultMap="UserMap">
        select *
        from t_user
        where 1=1
        and id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 修改 -->
    <update id="updateUser" >
        update t_user
        set age = age - #{age}
        where id= #{id,jdbcType=INTEGER}
    </update>


    <select id="ComplexParameters" resultType="com.example.demo.vo.User">
        select * from t_user where age=#{age} and name in
        <foreach item="name" collection="nameList"  open="(" separator="," close=")">
            #{name}
        </foreach>

    </select>

    <!-- 查询  其实直接resultMap="UserMap" 或者resultType="com.example.demo.vo.User"   在此处都可以接收（返回值不用和接收实体中的个数一致，只要包含即可），只是为了演示map如何接收返回值-->
    <select id="findUser1"  resultType="java.util.Map">
        select id,name
        from t_user
        where 1=1
        and id = #{id,jdbcType=INTEGER}
    </select>

</mapper>